.container {
  background: #F6F6F6;
  height: calc(100vh - var(--window-top));
}
.input-box {
  margin-bottom: 50rpx;
  padding: 36rpx 24rpx 0 24rpx;
  .section {
    font-size: 28rpx;
    padding-bottom: 24rpx;
    text {
      color: #1A1A1A;
      font-size: 30rpx;
      font-weight: 500;
      line-height: normal;
    }
    input {
      height: 90rpx;
      box-sizing: border-box;
      margin-top: 14rpx;
      padding: 26rpx 24rpx;
      color: #1A1A1A;
      background-color: #fff;
      border-radius: 12rpx;
    }
    picker {
      width: 70%;
      padding: 0 30rpx;
    }
    .pca {
      background-color: #fff;
      color: #1A1A1A;
      padding: 0 20rpx;
      height: 90rpx;
      box-sizing: border-box;
      border-radius: 12rpx;
      padding: 26rpx 24rpx;
      margin-top: 14rpx;
      position: relative;
      .arrow {
        width: 48rpx;
        height: 48rpx;
        position: absolute;
        right: 24rpx;
        top: 20rpx;
        image {
          width: 100%;
          height: 100%;
          vertical-align: top;
        }
      }
    }

  }
}
.btn-box {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  background-color: #fff;
  padding: 24rpx 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: calc(24rpx + env(safe-area-inset-bottom));
  text {
    color: #FFF;
    font-size: 36rpx;
    font-weight: 500;
  }
  .btn{
    border-radius: 50rpx;
    width: 340rpx;
    height: 90rpx;
    line-height: 90rpx;
    text-align: center;
  }
  .clear {
    background: #1A1A1A;
    margin-right: 20rpx;
  }
  .keep {
    background: #E5432C;
  }
}
.infoText {
  margin-top: 20rpx;
  text-align: center;
  width: 100%;
  justify-content: center;
}
picker-view {
  background-color: white;
  padding: 0;
  width: 100%;
  height: 380rpx;
  bottom: 0;
  position: fixed;
  text {
    color: #999;
    display: inline-flex;
    position: fixed;
    margin-top: 20rpx;
    height: 50rpx;
    text-align: center;
    line-height: 50rpx;
    font-size: 34rpx;
  }
}
picker-view-column {
  view {
    vertical-align: middle;
    font-size: 28rpx;
    line-height: 28rpx;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.animation-element-wrapper {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.animation-element {
  display: flex;
  position: fixed;
  width: 100%;
  height: 470rpx;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}
.animation-button {
  top: 20rpx;
  width: 290rpx;
  height: 100rpx;
  align-items: center;
}
.left-bt {
  left: 30rpx;
}
.right-bt {
  right: 20rpx;
  top: 20rpx;
  position: absolute;
  width: 80rpx !important;
}
.line {
  display: block;
  position: fixed;
  height: 2rpx;
  width: 100%;
  margin-top: 89rpx;
  background-color: #eee;
}
