.container {
  background-color: #f4f4f4;
  border-top: 2rpx solid #e9eaec;
  min-height: 100vh;
}
.main {
  margin-top: 24rpx;
  padding: 0 24rpx 150rpx 24rpx;
}
.radio-group{

}
.address {
  margin-bottom: 24rpx;
  background-color: #fff;
  border-radius: 12rpx;
  padding: 36rpx 24rpx 28rpx 24rpx;
  .personal {
    position: relative;
    border-bottom: 1rpx solid #EEEEEE;
    .info-tit {
      .name {
        margin-right: 30rpx;
        font-size: 32rpx;
        display: inline-block;
      }
      .tel {
        font-size: 32rpx;
      }
    }
  }
  .select-btn {
    display: flex;
    align-items: center;
    .box {
      font-size: 28rpx;
      color: #999;
    }
  }
  .edit-del{
    image{
      width: 44rpx;
      height: 44rpx;
    }
    .del{
      margin-left: 48rpx;
    }
  }

}
.personal {
  .addr {
    font-size: 28rpx;
    margin-top: 12rpx;
    margin-bottom: 36rpx;
    .addr-get {
      display: inline-block;
      color: #999;
      width: 100%;
      word-break: break-word;
    }
  }
}
.default-edit{
  display: flex;
  justify-content: space-between;
  padding-top: 28rpx;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 24rpx 0;
  text {
    display: inline-block;
    width: 340rpx;
    background: #E5432C;
    font-size: 36rpx;
    color: #FFF;
    height: 90rpx;
    line-height: 90rpx;
    border-radius: 50rpx;
  }
}
.empty {
  .img {
    text-align: center;
    margin-top: 130rpx;
    image {
      width: 100rpx;
      height: 100rpx;
      display: block;
      margin: auto;
    }
  }
  .txt {
    margin-top: 30rpx;
    font-size: 24rpx;
    text-align: center;
    color: #999;
  }
}
